h1 {
    font-size: 4em;
}

#self_picture {
    height: 90vh;
}

body {
    background-size: cover;
    background-image: url("images/golden-gate.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* class and id are styled using .<name> and #<name> respectively */

